<div class="login-form">
  <form [formGroup]="addToDo" (ngSubmit)="onAdd()">
    <h2 class="text-center">add ToDo </h2>
    <div formGroupName="ToDoData">
      <div class="form-group">
        <input id="Name" formControlName="title" type="text" class="form-control" placeholder="title" required>
      </div>
      <div class="form-group" >
        <label for="exampleFormControlSelect1">Example select</label>
        <select formControlName="name" class="form-control" id="exampleFormControlSelect1">
          <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
        </select>
      </div>
      <div>
        <input id="Name" formControlName="date" type="date" class="form-control" placeholder="date" required>

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    </div>
  </form>
</div>